.contacts{
  background-origin: border-box;
  background-image: url('../img/bg/nike-bg.jpg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  position: relative;
  @include mqmax($size-md){
    background-image:none;
  }
  button[data-toggle="tooltip"]{
    border-radius: 50%;
    color:$color-white;
    background: $color-green;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    border: 0;
    outline: none;
    position: relative;
    span{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .contacts-form{
    form{
      .label-container,.radio-group{
        margin-bottom: 20px;
      }
      .label-container{
        display: block;
        min-width: 200px;
        width: 60%;
        @include mqmax($size-xs){
          width: 100%;
        }
        span{
          margin-bottom: 5px;
          display: inline-block;
        }
        .input-wrap{
          position: relative;
          input{
            margin-bottom: 5px;
            border:none;
            border-radius: 0;
            box-shadow: none;
            border-bottom: 2px solid $color-blue-black;
            border-left: 2px solid $color-blue-black;
          }
          &:after,&:before{
            content:"";
            display: block;
            background: $color-green;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: .3s;
          }
          &:after{           
            width: 100%;
            height: 2px;
            transform-origin: left;
            transform: scaleX(0);
          }
          &:before{
            width: 2px;
            height: 100%;
            transform-origin: bottom;
            transform: scaleY(0);
          }
        }

        .invalid-feedback{

        }
        &.active{
          span{
            color:$color-green;
          }
          .input-wrap{
            &:after{
              transform: scaleX(1);
              
            }
            &:before{
              transform: scaleY(1);
            }
          }
        }
      }
      .radio-group{
        display: flex;
        .radio-group-item{
          position: relative;
          label{
            cursor: pointer;
            margin-bottom: 0px;
            margin-right: 10px;
          }
          display: flex;
          align-items: center;
          margin-right: 20px;
          .radio-group-item-simulator,input{
            width: 20px;
            height: 20px;
          }
          .radio-group-item-simulator{
            display: block;
            border-radius: 50%;
            border: 2px solid $color-blue-black;
            position: relative;
            z-index: 1;
            &:after{
              content: "";
              display: block;
              width:12px;
              height: 12px;
              border-radius: 50%;
              background-color: $color-green;
              position: absolute;
              top:50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              visibility: hidden;
            }
          }
          input{
            visibility: hidden;
            position: absolute;
            right: 0px;
            top:0px;
            margin: 0;
            z-index: 2;
            &:checked{
              & + .radio-group-item-simulator{
                &:after{
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }
}