.header{
  background-color: $color-white;
  nav.navbar{
    margin-bottom: 0px;
    .row{
      @include mqmin($size-sm){
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &:after,&:before{
        display: none;
      }
    }
    .navbar-header{
      .logo{
        width: 90px;
        padding-left: 15px;
        display: inline-block;
        img{
          width: 100%;
        }
      }
    }
    .navbar-collapse{
      background-color: $color-white;
      @include mqmax($size-sm){
        position: absolute;
        z-index: 1;
        width: 100%;
      }
      .navbar-nav{
        @include mqmin($size-sm){
          float: none;
        }
        @include mqmax($size-sm){
          padding-left: 15px;
        }
        li{
          padding-left: 20px;
          a{
            @extend .text-default;
            text-transform: uppercase;
            display: inline-block;
            overflow: hidden;
            @include mqmax($size-sm){
              padding:15px 0;
            }
            &:after{
              content:"";
              position: absolute;
              display: block;
              width:100%;
              height:4px;
              background-color: $color-pink-2;
              transform: translateX(-101%);
              transition: .5s;
              bottom: 0;
              border-radius: 2px;
              transform-origin: center;
            }
            &:hover,&.active{
              &:after{
                transform: translateX(0%);
                
              }
            }
          }
        }
      }
    }
  }
}